@import 'geral.scss';
@import '../../node_modules/swiper/css/swiper.css';
@import 'helpers/variaveis';

@import "components/nav";
@import "components/main_banner";
@import "components/search_home";
@import "components/tab_info";
@import "components/imoveis_exibition";
@import "components/btn";
@import "components/cta_call_top";
@import "single";

$local_img: '#{$url_path}img/';
$local_icon: '#{$url_path}src/';

.launch_imv {
    h3 {
        a {
            span {
                color: #d60812;
            }
        }
    }
}


.has-no-padding-left {
    padding: 5% 0 0 5%;

    &.bg_gray{
        background-color: #FBFBFB;
    }

    &.mb{
        margin-bottom: -2.25em !important;
    }

    &.bg_{
        background-image:url(#{$local_img}mcmv_bg1.jpg);
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 100%;
    }

    &.bg_il{
        background-image:url(#{$local_icon}predio.svg);
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 100%;
    }

    .mcmv{
        width: 50%;

        .timeline_controller{
            margin: 8% 0;
            ul{
                &.timeline_how{
                    padding: 0 10em;

                    li{
                        &.bubble_dash {
                            border-left: 2px dashed #d1d1d1;
                            padding: 0 0 0 1em;
                            margin: 3% 0;
                            &:last-child{
                                border-left:0;
                            }

                            &.d1{
                                &:before {
                                    content: '1';
                                    background: red;
                                    padding: .45em .75em;
                                    border-radius: 50%;
                                    font-size: .8em;
                                    color: white;
                                    font-weight: bold;
                                    position: absolute;
                                    margin: -1.5em -2.35em;
                                }
                                &:after{
                                    content: '';
                                    background-image:url(#{$local_icon}talk_icon.svg);
                                    display: block;
                                    width: 3.5em;
                                    height: 3.5em;
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    position: absolute;
                                    margin: -12em -7em;
                                }
                            }
                            &.d2{
                                &:before {
                                    content: '2';
                                    background: red;
                                    padding: .45em .75em;
                                    border-radius: 50%;
                                    font-size: .8em;
                                    color: white;
                                    font-weight: bold;
                                    position: absolute;
                                    margin: -1.5em -2.35em;
                                }
                                &:after{
                                    content: '';
                                    background-image:url(#{$local_icon}hotel.svg);
                                    display: block;
                                    width: 3.5em;
                                    height: 3.5em;
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    position: absolute;
                                    margin: -12em -7em;
                                }
                            }
                            &.d3{
                                &:before {
                                    content: '3';
                                    background: red;
                                    padding: .45em .75em;
                                    border-radius: 50%;
                                    font-size: .8em;
                                    color: white;
                                    font-weight: bold;
                                    position: absolute;
                                    margin: -1.5em -2.35em;
                                }
                                &:after{
                                    content: '';
                                    background-image:url(#{$local_icon}research.svg);
                                    display: block;
                                    width: 3.5em;
                                    height: 3.5em;
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    position: absolute;
                                    margin: -12em -7em;
                                }
                            }
                            &.d4{
                                &:before {
                                    content: '4';
                                    background: red;
                                    padding: .45em .75em;
                                    border-radius: 50%;
                                    font-size: .8em;
                                    color: white;
                                    font-weight: bold;
                                    position: absolute;
                                    margin: -1.5em -2.35em;
                                }
                                &:after{
                                    content: '';
                                    background-image:url(#{$local_icon}contract.svg);
                                    display: block;
                                    width: 3.5em;
                                    height: 3.5em;
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    position: absolute;
                                    margin: -12em -7em;
                                }
                            }
                        }
                    }
                }
            }
            p{
                margin: 0;
                width: 60%;
            }
        }

        p{
            margin: 4% 0;
            line-height: 2.15em;
        }
    }
}


.info_mcmv {
    ul{
        display: inline-flex;
        flex-wrap: wrap;
        margin: 2% 5%;
        li{
            width:50%;
            padding: 0 4em;

            p{
                margin:2% 0;
            }

            ul {
                display: flex;
                flex-direction: column;
                margin: 2% 2%;
                li{
                    list-style-type: disc;
                    color: #008421;
                    padding: 0;
                    p{
                        color:#676767;
                    }
                }
            }
        }
    }
}


section {
    &.banner {
        .banner_controller {
            .bg_ {
                .bg{
                    &._right {
                        ._bg_content{
                            &.container {
                                width: 21vw;
                                padding: 0 3.85em;
                                float: right;
                                top: calc(50% - 7.5vh);
                                position: relative;
                                h3{
                                    span{
                                        text-decoration: underline white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.bg{
    &._unique{
        &._identi_188{
            background-size: 100% 100%;
            width: 100vw;
            background-repeat: no-repeat;
            height: 50vh;
        }

        ._certify {
            left: 10em !important;
            top: 15em !important;
        }
    }
}