@charset "UTF-8";
/* HELPERS */
.bgCover {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.transition {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* CSS BASE */
@font-face {
  font-family: "robaga_roundedbold";
  src: url("../fonts/robaga_rounded_bold-webfont.woff2") format("woff2"), url("../fonts/robaga_rounded_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robaga_roundedregular";
  src: url("../fonts/robaga_rounded_regular-webfont.woff2") format("woff2"), url("../fonts/robaga_rounded_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "myriad-pro";
  src: url("../fonts/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("../fonts/Roboto-Bold-webfont.eot");
  src: url("../fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold-webfont.woff") format("woff"), url("../fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("../fonts/Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("../fonts/Roboto-Regular-webfont.eot");
  src: url("../fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/Roboto-Regular-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotolight";
  src: url("../fonts/Roboto-Light-webfont.eot");
  src: url("../fonts/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light-webfont.woff") format("woff"), url("../fonts/Roboto-Light-webfont.ttf") format("truetype"), url("../fonts/Roboto-Light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamBold";
  src: url("../fonts/GothamBold.eot");
  src: url("../fonts/GothamBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamBold.woff") format("woff"), url("../fonts/GothamBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamMedium";
  src: url("../fonts/GothamMedium.eot");
  src: url("../fonts/GothamMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamMedium.woff") format("woff"), url("../fonts/GothamMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham-Book";
  src: url("../fonts/Gotham-Book.eot");
  src: url("../fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham-Light";
  src: url("../fonts/Gotham-Light.eot");
  src: url("../fonts/Gotham-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Light.woff") format("woff"), url("../fonts/Gotham-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "vc-icons";
  src: url("../fonts/vc-icons.eot");
  src: url("../fonts/vc-icons.eot") format("embedded-opentype"), url("../fonts/vc-icons.woff2") format("woff2"), url("../fonts/vc-icons.woff") format("woff"), url("../fonts/vc-icons.ttf") format("truetype"), url("../fonts/vc-icons.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'vc-icons';
    src: url('../font/vc-icons.svg?25395214#vc-icons') format('svg');
  }
}
*/
[class^=icon-]:before, [class*=" icon-"]:before {
  font-family: "vc-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-instagram:before {
  content: "";
}

/* '' */
.icon-twitter:before {
  content: "";
}

/* '' */
.icon-down-arrow:before {
  content: "";
}

/* '' */
.icon-lupa:before {
  content: "";
}

/* '' */
.icon-cancel:before {
  content: "";
}

/* '' */
.icon-info-mark:before {
  content: "";
}

/* '' */
.icon-book:before {
  content: "";
}

/* '' */
.icon-grafic-man:before {
  content: "";
}

/* '' */
.icon-suitcase:before {
  content: "";
}

/* '' */
.icon-chat:before {
  content: "";
}

/* '' */
.icon-newspaper:before {
  content: "";
}

/* '' */
.icon-hamburguer:before {
  content: "";
}

/* '' */
.icon-secure:before {
  content: "";
}

/* '' */
.icon-profile:before {
  content: "";
}

/* '' */
.icon-justice:before {
  content: "";
}

/* '' */
.icon-facebook:before {
  content: "";
}

/* '' */
.icon-linkedin:before {
  content: "";
}

/* '' */
.icon-seta-esquerda:before {
  content: "";
}

/* '' */
.icon-seta-direita:before {
  content: "";
}

/* '' */
.icon-youtube-play:before {
  content: "";
}

/* '' */
.icon-quarto:before {
  content: "";
}

/* '' */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
  border: 0 none;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus {
  outline: 0;
}

html {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

body {
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  font-family: "Roboto", sans-serif !important;
  background: #fff;
  color: #333;
}
@media (max-width: 769px) {
  body {
    overflow-x: hidden;
  }
}

table {
  width: 100%;
}

span {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #57B5FF;
}

p {
  font-size: 16px;
  letter-spacing: 0.25px;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

img.aligncenter {
  display: block;
  margin: 0 auto;
}

img.alignleft {
  float: left;
  margin-right: 10px;
}

img.alignright {
  float: right;
  margin-left: 10px;
}

strong {
  font-weight: bold;
}

input, select, textarea {
  font-size: 1.15em;
  color: #676767;
}
input:not([type=checkbox]), select:not([type=checkbox]), textarea:not([type=checkbox]) {
  width: 100%;
}

select {
  -webkit-appearance: none;
  /* Remove estilo padrão do Chrome */
  -moz-appearance: none;
  /* Remove estilo padrão do FireFox */
  appearance: none;
}
select::-ms-expand {
  display: none;
}

.custon-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.link {
  display: block;
  width: 100%;
  height: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.db {
  display: block;
}

.dt {
  display: table;
  width: 100%;
  height: 100%;
}

.none {
  display: none;
}

.visible-none {
  visibility: hidden;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.align-center {
  display: inline-block;
  vertical-align: middle;
}

.vertical {
  display: table-cell;
  vertical-align: middle;
}

.list-inline li {
  display: inline-block;
  vertical-align: middle;
}

.list-table {
  display: table;
  width: 100%;
}
.list-table li {
  display: table-cell;
  vertical-align: middle;
}

.h100 {
  height: 100%;
}

.flex-grid {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-nowrap {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  -webkit-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.flex-direction-column {
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-direction-row {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.justify-content-center {
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.justify-content-flex-start {
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
}

.justify-content-flex-end {
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}

.justify-content-space-around {
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}

.justify-content-space-between {
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}

.align-items-center {
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.align-items-flex-start {
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.align-items-flex-end {
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
}

.align-content-flex-start {
  -webkit-align-content: flex-start;
  -ms-align-content: flex-start;
  align-content: flex-start;
}

.align-content-flex-end {
  -webkit-align-content: flex-end;
  -ms-align-content: flex-end;
  align-content: flex-end;
}

.align-content-center {
  -webkit-align-content: center;
  -ms-align-content: center;
  align-content: center;
}

.align-content-space-around {
  -webkit-align-content: space-around;
  -ms-align-content: space-around;
  align-content: space-around;
}

.align-content-space-between {
  -webkit-align-content: space-between;
  -ms-align-content: space-between;
  align-content: space-between;
}

.align-self-center {
  -webkit-align-self: center;
  -ms-align-self: center;
  align-self: center;
}

.align-self-flex-start {
  -webkit-align-self: flex-start;
  -ms-align-self: flex-start;
  align-self: flex-start;
}

.align-self-flex-end {
  -webkit-align-self: flex-end;
  -ms-align-self: flex-end;
  align-self: flex-end;
}

.uppercase {
  text-transform: uppercase;
}

.overflow {
  overflow: hidden;
}

.cursor {
  cursor: pointer;
}

form.searchform {
  display: block;
}
form.searchform input {
  display: block;
}
form.searchform button {
  display: block;
}
form.searchform button:hover {
  display: block;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .content p, .content li, .content span, .content a, .content div {
  line-height: normal;
  color: #57B5FF;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .content p, .content ul {
  margin-bottom: 2rem;
}
.content h1:last-child, .content h2:last-child, .content h3:last-child, .content h4:last-child, .content h5:last-child, .content h6:last-child, .content p:last-child, .content ul:last-child {
  margin-bottom: 0;
}
.content li {
  margin-bottom: 1rem;
}
.content li:last-child {
  margin-bottom: 0;
}
.content h1, .content h2, .content h3, .content h6 {
  font-family: "Roboto";
  font-weight: 600;
}
.content h4, .content h5 {
  font-family: "Roboto";
}
.content h1 {
  font-size: 3.25rem;
}
.content h2 {
  font-size: 2.56rem;
}
.content h3 {
  font-size: 24px;
}
@media (max-width: 1367px) {
  .content h3 {
    font-size: 20px;
  }
}
.content h4 {
  font-size: 1.5rem;
}
.content h5 {
  font-size: 1.25rem;
}
.content h6 {
  font-size: 1rem;
}
.content p {
  font-size: 0.85rem;
  line-height: 1.8rem;
}
.content .titulo-icon {
  display: block;
}
.content .titulo-icon i {
  margin-bottom: 1rem;
  display: block;
  font-size: 3rem;
}
.content .titulo-icon i:before {
  margin: 0;
}
.content ul {
  display: block;
}
.content ul li {
  position: relative;
  padding-left: 1.2rem;
  font-size: 1rem;
  line-height: 2rem;
}
.content ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 11px;
  width: 6px;
  height: 6px;
  background-color: #FF8457;
}
.content form p {
  margin-bottom: 1rem;
}

h3 {
  /*@include media-max(nt){
  	font-size: 16px !important;
  }*/
}

.swiper-container {
  width: 100%;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 40px;
}

.hide {
  display: none;
}

.file-class {
  background: white;
  padding: 0.75em 0.5em;
  margin: 5% 0 -5% 0;
}

label.input-controller span {
  background: #D60812;
  color: white;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
}

span#file-name {
  font-size: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.select-items {
  position: absolute;
  background-color: #FEFEFE;
  z-index: 99;
  width: 19.55em;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  overflow-x: hidden;
  max-height: 16.5em;
  height: auto;
}

#reset-button {
  color: white;
  background: #D60812;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  font-size: 0.75em;
  margin: 0 0 0 1em;
}
@media (max-width: 1367px) {
  #reset-button {
    display: none;
  }
}

.hide-mobile {
  display: flex !important;
}
@media (max-width: 769px) {
  .hide-mobile {
    display: none !important;
  }
}

.hide-desktop {
  display: none !important;
}
@media (max-width: 769px) {
  .hide-desktop {
    display: flex !important;
  }
}

/*
#wpadminbar {
    display: none;
}

html {
    margin-top: 0 !important;
}
*/
/* TEMPLATE */
footer {
  display: inline-flex;
  width: 100%;
}
footer section {
  width: 100%;
  display: flex;
}
@media (max-width: 769px) {
  footer section {
    flex-direction: column;
  }
}
footer ._side_logo_social {
  width: 13%;
  height: 100%;
  background: #D60812;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
}
@media (max-width: 1367px) {
  footer ._side_logo_social {
    width: 14%;
    height: 22.1em;
  }
}
@media (max-width: 1025px) {
  footer ._side_logo_social {
    width: 14.5%;
  }
}
@media (max-width: 769px) {
  footer ._side_logo_social {
    width: 100%;
    height: auto;
    margin: 0 0 4.025em 0;
  }
}
footer ._side_logo_social ul {
  margin: 14.25% 0;
}
@media (max-width: 769px) {
  footer ._side_logo_social ul {
    margin: 2% 0;
    display: inline-flex;
  }
}
footer ._side_logo_social ul .logo {
  margin: 10%;
}
@media (max-width: 769px) {
  footer ._side_logo_social ul .logo {
    margin: 0 0 0 10%;
  }
}
footer ._side_logo_social ul .logo img {
  max-width: 100%;
}
@media (max-width: 769px) {
  footer ._side_logo_social ul .logo img {
    max-width: 150%;
    width: 145%;
  }
}
footer ._side_logo_social ul.social_media {
  display: inline-flex;
  justify-content: center;
  margin: auto auto 6% auto;
}
@media (max-width: 769px) {
  footer ._side_logo_social ul.social_media li {
    margin: 0 2%;
  }
}
@media (max-width: 769px) {
  footer ._side_logo_social ul.social_media {
    margin: 0 5% 0 auto;
  }
}
footer ._side_logo_social ul.social_media i.icon {
  font-size: 2em;
  color: white;
}
footer ._form_infos {
  width: 87%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
}
@media (max-width: 769px) {
  footer ._form_infos {
    width: 100%;
    margin: 21.55% 0 0 0;
  }
}
footer ._form_infos h3 {
  color: #676767;
  margin: 5% 0;
}
@media (max-width: 1367px) {
  footer ._form_infos h3 {
    margin: 1% 0;
  }
}
footer ._form_infos h4 {
  color: #CE1B29;
  margin: 5% 0;
  font-size: 16px;
}
@media (max-width: 1367px) {
  footer ._form_infos h4 {
    font-size: 12px;
  }
}
footer ._form_infos p {
  font-size: 0.7em;
}
@media (max-width: 1367px) {
  footer ._form_infos p {
    font-size: 0.65em;
  }
}
footer ._form_infos ._form_footer {
  height: 15vh;
  width: 100%;
  margin: 0 0 -0.2em 0;
  display: flex;
  flex-direction: column;
  padding: 2% 5%;
  background-color: #0000004f;
}
@media (max-width: 1367px) {
  footer ._form_infos ._form_footer {
    height: unset;
  }
}
@media (max-width: 769px) {
  footer ._form_infos ._form_footer {
    padding: 5%;
  }
}
footer ._form_infos ._form_footer.bg_ {
  background-position-x: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}
@media (max-width: 769px) {
  footer ._form_infos ._form_footer.bg_ {
    background-size: cover;
  }
}
footer ._form_infos ._form_footer h3 {
  z-index: 2;
  position: relative;
  color: #676767;
  font-size: 22px;
  margin: 0 0 0.5% 0;
}
@media (max-width: 769px) {
  footer ._form_infos ._form_footer h3 {
    font-size: 18px;
    padding: 1% 0;
  }
}
footer ._form_infos ._form_footer form {
  margin: 0 auto;
  z-index: 2;
  position: relative;
}
footer ._form_infos ._form_footer form .ajax-loader {
  background: transparent;
  width: 2.5em;
  background-repeat: no-repeat;
  height: 2.5em;
  padding: 0.5em;
  top: 0;
  left: 0;
  margin: -10% -3.5%;
  z-index: 9;
  position: relative;
  overflow: hidden;
  background-size: 100%;
  border-radius: 0.25em;
}
footer ._form_infos ._form_footer form .ajax-loader:before {
  background-image: url("/wp-content/themes/construcao/config/src/loader.svg");
  content: "";
  display: block;
  width: 100%;
  z-index: 0;
  position: relative;
  height: 100%;
}
footer ._form_infos ._form_footer form .wpcf7-validation-errors {
  position: absolute;
  border-color: #D60812;
  border-radius: 0.25em;
  background: #D60812;
  color: white;
  margin: -0.25em 0;
  text-align: center;
}
@media (max-width: 769px) {
  footer ._form_infos ._form_footer form .wpcf7-validation-errors {
    position: fixed;
    bottom: 15%;
    width: 90%;
    left: 5%;
  }
}
@media (max-width: 769px) {
  footer ._form_infos ._form_footer form span {
    font-size: 14px;
  }
}
footer ._form_infos ._form_footer form span:nth-child(3) input {
  width: 15%;
}
@media (max-width: 769px) {
  footer ._form_infos ._form_footer form span:nth-child(3) input {
    width: 100%;
    margin: 0.5em 1em 0.75em 0;
    padding: 0.75em 0.75em;
  }
}
footer ._form_infos ._form_footer form span.wpcf7-not-valid-tip {
  color: #D60812;
  position: absolute;
  z-index: 1;
  width: auto;
  top: 6.5%;
  right: 6%;
  font-size: 65%;
  border-radius: 0.25em;
  padding: 0.25em;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 769px) {
  footer ._form_infos ._form_footer form span.wpcf7-not-valid-tip {
    top: unset;
    font-size: 90%;
  }
}
footer ._form_infos ._form_footer form input {
  width: 20%;
  margin: 0.5% 1% 0.5% 0;
  padding: 0.5% 1.5%;
}
@media (max-width: 769px) {
  footer ._form_infos ._form_footer form input {
    width: 100%;
    margin: 0.5em 1em 0.75em 0;
    padding: 0.75em 0.75em;
    font-weight: 600;
  }
}
footer ._form_infos ._form_footer form input::placeholder {
  color: #AEAEAE;
}
footer ._form_infos ._form_footer form input[type=submit] {
  transition: all 0.4s;
  padding: 0.65em;
  height: 100%;
  cursor: pointer;
  border: 1px solid #CE1B29;
  background: #D60812;
  color: white;
  transition: all 0.4s;
}
@media (max-width: 769px) {
  footer ._form_infos ._form_footer form input[type=submit] {
    font-size: 17px;
  }
}
footer ._form_infos ._form_footer form input[type=submit]:hover {
  border: 1px solid #CE1B29;
  background: transparent;
  color: #D60812;
}
footer ._form_infos ._info_footer {
  height: 85%;
  width: 100%;
  background: #E9E9E9;
  padding: 2% 5%;
}
@media (max-width: 1367px) {
  footer ._form_infos ._info_footer {
    width: 100%;
    background: #E9E9E9;
    padding: 1% 5%;
  }
}
footer ._form_infos ._info_footer ._info_controller .copy p {
  font-size: 12px;
}
footer ._form_infos ._info_footer ._info_controller .pages_presentation {
  width: 40%;
  display: inline-flex;
  flex-direction: column;
}
@media (max-width: 1025px) {
  footer ._form_infos ._info_footer ._info_controller .pages_presentation {
    width: 65%;
  }
}
@media (max-width: 769px) {
  footer ._form_infos ._info_footer ._info_controller .pages_presentation {
    width: 100%;
    margin: 10% 0 0 0;
  }
}
footer ._form_infos ._info_footer ._info_controller .pages_presentation ul {
  margin: 0 0 5% 0;
  height: 110px;
}
@media (max-width: 769px) {
  footer ._form_infos ._info_footer ._info_controller .pages_presentation ul {
    margin: 0 0 15% 0;
  }
}
@media (max-width: 1367px) {
  footer ._form_infos ._info_footer ._info_controller .pages_presentation ul {
    height: 65px;
  }
}
footer ._form_infos ._info_footer ._info_controller .pages_presentation ul li {
  margin: 1% 0;
  width: 50%;
  float: left;
}
@media (max-width: 1367px) {
  footer ._form_infos ._info_footer ._info_controller .pages_presentation ul li {
    margin: 0.5% 0;
  }
}
footer ._form_infos ._info_footer ._info_controller .pages_presentation ul li a {
  color: #707070;
}
footer ._form_infos ._info_footer ._info_controller .contact {
  width: 35%;
  display: inline-flex;
  flex-direction: column;
}
@media (max-width: 769px) {
  footer ._form_infos ._info_footer ._info_controller .contact {
    width: 100%;
  }
}
footer ._form_infos ._info_footer ._info_controller .contact .copy_logo {
  margin: 0 30% 0 0;
}
footer ._form_infos ._info_footer ._info_controller .contact .two_in {
  width: 100%;
}
footer ._form_infos ._info_footer ._info_controller .contact .two_in p {
  font-size: 12px;
}
footer ._form_infos ._info_footer ._info_controller .contact .two_in div {
  width: 45%;
  float: left;
}
footer ._form_infos ._info_footer ._info_controller .contact .two_in div.copy {
  width: 100% !important;
  margin: 5% 0;
}
footer ._form_infos ._info_footer ._info_controller .contact .two_in div.copy p {
  font-size: 12px;
}

.footer-tabbed ._info_footer {
  height: 77%;
}

.btn_center {
  display: flex;
  margin: 5% 0;
  justify-content: center;
}
.btn_center .btn_red {
  margin: auto;
  border: 1px solid #D60812;
  color: white;
  background: #D60812;
  padding: 0.9em 0.9em;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.4s;
  width: 12.85em;
  border-radius: 0.25em;
  text-align: center;
}
@media (max-width: 1367px) {
  .btn_center .btn_red {
    padding: 0.45em 0.65em;
    font-size: 1.15em;
    width: 100%;
  }
}
.btn_center .btn_red:hover {
  border: 1px solid #D60812;
  color: #D60812;
  background: transparent;
}

.btn_red {
  margin: auto;
  border: 1px solid #D60812;
  color: white;
  background: #D60812;
  padding: 0.9em 0.9em;
  font-size: 1.25em;
  transition: all 0.4s;
  width: 12.85em;
  border-radius: 0.25em;
  text-align: center;
}
@media (max-width: 1367px) {
  .btn_red {
    padding: 0.45em 0.65em;
    font-size: 1.15em;
    width: 100%;
  }
}
.btn_red:hover {
  border: 1px solid #D60812;
  color: #D60812;
  background: transparent;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #DFDFDF;
  opacity: 1;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 13px;
  height: 13px;
  background: #CE1B29;
}

.fundo {
  background-color: palevioletred;
}

/*# sourceMappingURL=all.css.map */
