@import 'geral.scss';
@import '../../node_modules/swiper/css/swiper.css';
@import 'helpers/variaveis';

@import "components/nav";
@import "components/main_banner";
@import "components/search_home";
@import "components/tab_info";
@import "components/imoveis_exibition";
@import "components/btn";
@import "components/cta_call_top";
@import "single";

$local_img: '#{$url_path}img/';
$local_icon: '#{$url_path}src/';

._the_left_text{
    span{
        text-decoration: underline white;
        display: inline-flex;
    }
}

._bg_content.container {
    width: 16vw !important;
}

.section_about{
    background-image:url(#{$local_img}pessoaebg_.jpg);
    background-size: cover;
    height: 42em;

    @include media-max(lg){
        height: 29em;
    }

    @include media-max(sm){
        height: 50em;
        margin: -1em 0;
        padding: 2em 0;
    }

    width: 100%;

    p{
        color: #676767;
    }
    
    .about_imv{
        padding: 0 4em;

        .two_in{
            height: auto;
            div{
                height: auto;
                margin: 5% 0;

                #media-player{
                    @include media-max(lg){
                        height: 19.25em;
                        margin: 2% 0;
                    }

                    @include media-max(sm){
                        height: 12em;
                        margin: 0;
                        top: 2em;
                    }
                }

                .if_img{
                    height: auto;
                    margin: 0;
                }
                h3{
                    &.title_about_imv{
                        
                    }
                }
            }
        }
    }
}

.bg_section_trust{
    background-image:url(#{$local_img}institucional.jpg);
    background-size: cover;
    height: 16em;

    @include media-max(sm){
        height: 30em;
    }

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -2%;

    &:before {
        content: '';
        position: absolute;
        display: block;
        background-color: #000000b8;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    ul{
        width: 100%;
        display: inline-flex;
        z-index: 2;

        @include media-max(sm){
            flex-wrap: wrap;
        }


        li{
            text-align: center;
            width: 25%;
            color:white;


            @include media-max(sm){
                width: 50%;
                margin: 10% 0;
            }

            p{
                font-size: 16px;
            }
            i{
                width: 6em;
                height: 6em;
                display: inline-block;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                &.icon_1{
                    background-image:url(#{$local_icon}icon_10.svg);
                }
                &.icon_2{
                    background-image:url(#{$local_icon}unidade.svg);
                }
                &.icon_3{
                    background-image:url(#{$local_icon}chaveiro.svg);
                }
                &.icon_4{
                    background-image:url(#{$local_icon}sketch.svg);
                }
            }
        }
    }
}

.about_presentation{
    height: 45em;

    @include media-max(sm){
        height: auto;
    }

    .about_controller{
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .two_in {
        .about_inside {
            padding: 2em 2em 2em 10em !important;

            @include media-max(lg){
                padding: 2em 2em 2em 5em !important;
            }

            @include media-max(sm){
                padding: 5% !important;
            }
        }

        p{
            margin: 1.25em 0;
            line-height: 2em;
        }
        div {
            width: 50%;
            float: left;
            padding: 2em;

            @include media-max(sm){
                width: 100%;
                float: unset;
            }
        }

        .static_map{
            height: 40em;

            @include media-max(sm){
                height: 25em;
            }

            &.bg_ {
                overflow: hidden;
                background-image:url(#{$local_icon}map_static.svg);
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        ul{
            &.list_style_red {
                li {
                    list-style-type: disc;
                    color: red;

                    h5 {
                        color: #676767;
                        font-weight: normal;
                        font-size: 16px;
                        margin: .5em 0;
                    }
                }
            }
        }
    }
}

.has-padding{
    padding: 5% 8% !important;

    @include media-max(sm){
        padding: 15% 8% !important;
    }

    //margin:0 !important;
    float: unset !important;
}


.advantages {

    .iso {
        width: 10em;
        height: 3em;
        background-image:url(#{$local_icon}iso_call.svg);
        margin: 0 0 0 2em;

        @include media-max(lg){
            margin: 0 0 0 6.5em;
        }

        @include media-max(sm){
            margin: 1em 0 0 5.5em;
        }

        background-size: contain;
        background-repeat: no-repeat;
    }

    ul {
        display: inline-flex;
        flex-wrap: wrap;
        margin: 2%;
        li{
            width: 50%;
            padding: 0 0 0 5em;


            @include media-max(sm){
                width: 100%;
                margin: 10% 0;
            }

            h5{
                color:#676767;
                font-size: 22px;
                font-weight: 500;
            }

            p{
                font-weight: 300;
            }

            &.icon_money{
                &:before {
                    width: 50px;
                    height: 50px;
                    background-image: url(#{$local_icon}money.svg);
                    content: '';
                    display: block;
                    float: left;
                    margin: 3.5em -5em;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }

            &.icon_moneyback{
                &:before {
                    width: 50px;
                    height: 50px;
                    background-image: url(#{$local_icon}moneyback.svg);
                    content: '';
                    display: block;
                    float: left;
                    margin: 3.5em -5em;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
            &.icon_checked{
                &:before {
                    width: 50px;
                    height: 50px;
                    background-image: url(#{$local_icon}checked.svg);
                    content: '';
                    display: block;
                    float: left;
                    margin: 3.5em -5em;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
            &.icon_customer{
                &:before {
                    width: 50px;
                    height: 50px;
                    background-image: url(#{$local_icon}customer.svg);
                    content: '';
                    display: block;
                    float: left;
                    margin: 3.5em -5em;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }

            &.icon_rank{
                &:before {
                    width: 50px;
                    height: 50px;
                    background-image: url(#{$local_icon}rank.svg);
                    content: '';
                    display: block;
                    float: left;
                    margin: 3.5em -5em;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }

            p{
                width: 65%;
                margin: 2% 0;
            }
        }
    }
}


.launch_imv {
    h3 {
        a {
            span {
                color: #d60812;
            }
        }
    }
}


section.form_call_cta .form_space .title_form_call h3 {
    @include media-max(lg){
    }
}


section{
    &.banner {
        @include media-max(sm){
            height: 19em;
        }
        .banner_controller {


            @include media-max(sm){
                height: auto;
            }
            .bg_ {
                .bg{
                    &._left{
                        background-position-y: 0px;
                        @include media-max(lg){
                            height: 21.5em;
                        }
            

                        &.moby{
                            @include media-max(sm){
                                height: 19em;
                            }
                        }
                    }
                }
            }
        }
    }
}



.banner {
    pointer-events: none;

    .banner_controller .bg_ .bg._certify {
        z-index: 9;
        pointer-events: all;
    }
}


.launch{
    .swiper-button-prev, .swiper-button-next {
        top: 30%;

        @include media-max(sm){
            top: 52%;
        }
    }
    .swiper-button-prev{
        color:#D60812;
        &.swiper-button-disabled{
            opacity: 1;
            color: #AEAEAE;
        }

        &:after{
            font-size: 2em;

            @include media-max(sm){
                font-size: 4em;
            }
        }
    }

    .swiper-button-next{
        color:#D60812;
        &.swiper-button-disabled{
            opacity: 1;
            color: #AEAEAE;
        }

        &:after{
            font-size: 2em;

            @include media-max(sm){
                font-size: 4em;
            }
        }
    }
}


.full-container{
    @include media-max(sm){
        margin: 0;
    }
}


#if_moby .launch {
    display: block;
}


.full-container-no-bg h4 {
    @include media-max(sm){
        margin: 0.5em 0.85em;
        font-size: 17px;
    }
}