@import 'geral.scss';
@import 'components/main-title';
@import 'components/breadcrumb';
@import "./helpers/medias";
@import "components/nav.scss";
@import 'components/search_home.scss';

.search {
    padding: 0 !important;
    margin: 0 !important;
}