@media (min-width: 992px) {
  footer ._side_logo_social ul.social_media {
    margin-bottom: 100px !important;
  }
}

header {
  height: auto !important;
}

header nav {
  height: 10vh !important;
}

.hamburger-menu {
  height: 6px;
}

.search-form {
  margin-left: 0;
}

.bg_._identi_480.moby {
  background-position: center;
  background-size: cover !important;
  height: 50vh !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #CE1B29;
}

.fifty h3 {
  padding-left: 16px;
}

#crumbs,
.title_about_imv {
  margin-top: 30px !important;
}

p::before {
  display: none;
}

footer {
  margin-bottom: 70px;
}
footer__menu {
  margin-bottom: 32px !important;
  height: unset !important;
}
footer__menu li {
  font-weight: 700;
}
footer a {
  color: #676867;
}

.acesso_rapido {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 32px !important;
}

.contact h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 32px !important;
}
@media (min-width: 992px) {
  .contact h3 {
    text-align: left;
  }
}

footer ._form_infos p {
  font-size: 14px;
}

footer ._form_infos h4 {
  font-size: 14px;
  color: #D60812;
  margin: 0 0 10px 0;
  font-weight: 700;
}

.h6,
h6 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #676867;
}

.social_media {
  display: flex !important;
  justify-content: center;
}
.social_media a {
  color: #D60812;
  font-size: 45px;
}

@media (min-width: 992px) {
  footer ._form_infos ._info_footer ._info_controller .pages_presentation ul li a {
    font-size: 16px !important;
  }
}

footer ._form_infos {
  width: 100%;
}

@media (min-width: 992px) {
  ._info_footer {
    display: flex;
  }
}
.footer__ajuest {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer ._form_infos h3 {
  color: #676767;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 32px !important;
}

.footer__ul {
  display: flex;
  flex-direction: column;
}

._info_footer ._info_controller .pages_presentation {
  margin-right: 0;
}

@media (min-width: 992px) {
  ._info_controller {
    display: flex;
    justify-content: space-evenly;
  }
}

.copy__desktop {
  margin-top: 10px;
  text-align: center;
  font-size: 12px !important;
}

.footer__div {
  margin: 0 4rem !important;
}

.footer__texto {
  font-size: 14px !important;
}

@media (min-width: 992px) {
  header nav .flex-in-nav .search-form {
    height: 8vh !important;
    padding-left: 5px;
  }
}

.menu form {
  display: none !important;
}

._form_footer h3 {
  display: none;
}

div.search-filter-result-item.post {
  margin: 1rem 0 !important;
}

.progress_controller ul li {
  color: black;
  opacity: 0.8 !important;
}

.differentials_imv .differentials_controller {
  padding: 0;
}

.differentials_imv ul.icons_presentation {
  overflow-y: unset !important;
  height: auto;
  width: auto !important;
}

.menu-interno {
  background-color: #E9E9E9;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 1px 1px 5px #676767;
  margin-top: -50px;
  padding: 0 1rem;
  position: fixed;
  z-index: 10;
  width: 100%;
  margin-bottom: 30px;
}
.menu-interno a {
  color: #6F706F;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  width: 50%;
  text-decoration: none;
}
@media (min-width: 992px) {
  .menu-interno a {
    width: 25%;
  }
}
.menu-interno a:hover {
  background-color: #D60812;
  color: white;
  opacity: 0.5;
}
.menu-interno a:active {
  background-color: #D60812;
  color: white;
}
.menu-interno a[tabindex]:focus {
  background-color: #D60812;
  color: white;
}
.menu-interno a .menu-interno a:last-child {
  border-right: none;
}
.menu-interno p {
  padding: 1rem;
}
@media (min-width: 992px) {
  .menu-interno p {
    padding: 2rem;
  }
}

.menu-interno a {
  border-right: 2px solid #D60812;
  border-bottom: 2px solid #D60812;
}
@media (min-width: 992px) {
  .menu-interno a {
    border-bottom: none;
  }
}

.menu-interno a:nth-child(even) {
  border-right: none;
}
@media (min-width: 992px) {
  .menu-interno a:nth-child(even) {
    border-right: 2px solid #D60812;
  }
}

@media (min-width: 992px) {
  .menu-interno a:nth-child(4) {
    border-right: none;
  }
}

.menu-interno a:nth-child(3) {
  border-bottom: none;
}

.menu-interno a:nth-child(4) {
  border-bottom: none;
}

section.banner .banner_controller .bg_ .bg._left.moby {
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  width: 100% !important;
}

.contato__banner--mob {
  width: 100%;
}
@media (min-width: 992px) {
  .contato__banner--mob {
    display: none;
  }
}

.contato__banner--desktop {
  display: none;
}
@media (min-width: 992px) {
  .contato__banner--desktop {
    display: block;
    width: 100%;
  }
}

section.banner-category .bg_ {
  /* height: 28.49em; */
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  width: 100% !important;
  height: 351px !important;
}
@media (min-width: 992px) {
  section.banner-category .bg_ {
    height: 400px !important;
  }
}
@media (min-width: 1440px) {
  section.banner-category .bg_ {
    height: 500px !important;
  }
}

.cva__banner--mob {
  width: 100%;
}
@media (min-width: 992px) {
  .cva__banner--mob {
    display: none;
  }
}

.cva__banner--desktop {
  display: none;
}
@media (min-width: 992px) {
  .cva__banner--desktop {
    display: block;
    width: 100%;
  }
}

.cva__texto {
  width: 100%;
  font-size: 14px !important;
  color: #676867;
}
@media (min-width: 992px) {
  .cva__texto {
    font-size: 16px !important;
    margin-bottom: 3rem;
  }
}

.cva__inscricao {
  background-color: #E9E9E9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #676867;
}
.itens {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .itens {
    padding: 0 1rem;
  }
}

.cva__inscricao__itens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #676867;
}
@media (min-width: 992px) {
  .cva__inscricao__itens {
    flex-direction: row;
  }
}

.cva__inscricao__titulo {
  font-size: 18px !important;
  line-height: 21px !important;
  color: #474543 !important;
  font-weight: 700;
}
@media (min-width: 992px) {
  .cva__inscricao__titulo {
    margin-bottom: 30px;
    text-align: left;
  }
}

.cva__inscricao__texto {
  font-size: 14px;
}

.cva__inscricao__subtitulo {
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}

.seta--mob {
  margin: 2rem 0;
}
@media (min-width: 992px) {
  .seta--mob {
    display: none;
  }
}

.seta--mob:last-child {
  display: none;
}

.seta--desk {
  display: none;
}
@media (min-width: 992px) {
  .seta--desk {
    display: block !important;
    margin: 2rem 0;
    align-self: right !important;
  }
}

.seta--desk:nth-child(4) {
  display: none !important;
}

.cva__saber__titulo {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 1rem;
}
.cva__saber__titulo a {
  color: #676767;
  text-decoration: underline;
}
@media (min-width: 992px) {
  .cva__saber__titulo {
    margin-bottom: 3rem !important;
  }
}

.cva__botao {
  background-color: #D60812;
  color: white;
  font-weight: 700;
  padding: 1rem 2.2rem;
  font-size: 16px;
  margin: 2rem 0;
}
.cva__botao:hover {
  color: white;
}

.has-no-padding-left.mb {
  margin-bottom: 2rem !important;
}

@media (min-width: 992px) {
  .has-no-padding-left {
    padding: 5em 0 5rem 8.5em;
  }
}

.cva__duvida__titulo {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .cva__duvida__titulo {
    margin-bottom: 3rem !important;
  }
}

.duvidas {
  background-color: #E9E9E9;
}

.hr-duvida {
  color: #CECECE;
  border-top: 1px solid #CECECE !important;
}
@media (min-width: 992px) {
  .hr-duvida {
    margin-right: 4rem;
  }
}

.hr-duvida:last-child {
  display: none;
}

.cva-apresentacao {
  margin: 2rem 0 !important;
  margin-bottom: 2rem !important;
}

.img-seta-desk {
  display: flex;
  justify-content: space-around;
}

.menu-mob {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  align-items: flex-start;
}

.tabela-um {
  border: 1px #69C593 solid;
  text-align: center;
}
.tabela-um tr,
.tabela-um td {
  border: 1px #69C593 solid;
}
.tabela-um__cabecalho {
  color: white;
  background-color: #138537;
  padding: 1rem !important;
}

.tabela-um--gr {
  font-weight: 700;
}

.logo-ajuste {
  transform: scale(0.7);
}

.nav-menu-desktop,
.menu-mob {
  height: 100vh !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #e9e9e9;
  background-blend-mode: multiply;
}
.nav-menu-desktop h3,
.menu-mob h3 {
  padding: 1rem;
}
.nav-menu-desktop a,
.menu-mob a {
  padding: 1rem;
  color: #474543;
}
.nav-menu-desktop a li,
.menu-mob a li {
  line-height: 1.5;
}

.icon.icon_cert_2 {
  background-image: url("https://www.cacengenharia.com.br/wp-content/uploads/2019/11/cva.png") !important;
}

.medidas {
  display: none !important;
}

.icon .icon-moby {
  margin: 0;
}

.info_tab {
  padding: 2rem !important;
  height: 100px;
}

@media (max-width: 1367px) {
  footer ._form_infos ._info_footer {
    margin-bottom: 70px !important;
  }
}
@media (min-width: 1440px) {
  footer ._form_infos ._info_footer {
    margin-bottom: 90px !important;
  }
}
.menu li a {
  font-size: 16px;
  font-weight: 700;
}
.menu li a:hover {
  color: #474543;
}

.iso {
  width: 80%;
  height: 70px;
  background-image: url(/wp-content/themes/construcao/config/src/iso_call.svg);
  margin: 4rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}
@media (min-width: 992px) {
  .iso {
    margin: 0;
    width: 100%;
    margin-bottom: 4rem;
  }
}

@media (min-width: 992px) {
  .advantages-container {
    background-color: white;
  }
}

div.advantages {
  background-color: #E9E9E9;
}
@media (min-width: 992px) {
  div.advantages h3 {
    padding: 5rem 0 1rem 7rem;
  }
}

header nav {
  background-color: #D60812;
}

header nav a {
  color: white;
}

header nav.sticky {
  background: #D60812;
}

/*# sourceMappingURL=ajustes.css.map */
.thumbnail {
   
  z-index: 0!important;
  
 
}