@import "../helpers/variaveis";
@import "../helpers/medias";

* {
	margin: 0;
	padding: 0;
	list-style: none;
	vertical-align: baseline;
	border: 0 none;

	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	&:before,&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

:focus {
	outline: 0;
}

html {
	width: 100%;
	height: 100%;
	font-size: 16px;
}

body {
	width: 100%;
	height: 100%;
	word-wrap: break-word;
	font-family: $font-theme, sans-serif !important;
	background: #fff;
	color: $text-color;

	@include media-max(sm){
		overflow-x: hidden;
	}
}

table {
	width: 100%;
}

span {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: $cor_1;
}

p {
	font-size: 16px;
	letter-spacing: .25px;
}

figure{
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

img.aligncenter{
	display: block;
	margin: 0 auto;
}

img.alignleft{
	float: left;
	margin-right: 10px;
}

img.alignright{
	float: right;
	margin-left: 10px;
}

strong {
	font-weight: bold;
}

input,select,textarea {
	&:not([type="checkbox"]){
		width: 100%;
	}
	font-size: 1.15em;
	color: #676767;
}

select {
	-webkit-appearance: none;
	/* Remove estilo padrão do Chrome */
	-moz-appearance: none;
	/* Remove estilo padrão do FireFox */
	appearance: none;

	&::-ms-expand {
		display: none;
	}
}

.custon-section{
	@include espacamento( 4rem );
}

.link {
	display: block;
	width: 100%;
	height: 100%;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
}

.db {
	display: block;
}

.dt {
	display: table;
	width: 100%;
	height: 100%;
}

.none {
	display: none;
}

.visible-none {
	visibility: hidden;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.f-left {
	float: left;
}

.f-right {
	float: right;
}

.align-center {
	display: inline-block;
	vertical-align: middle;
}

.vertical {
	display: table-cell;
	vertical-align: middle;
}

	.list-inline{
	li{
		display: inline-block;
		vertical-align: middle;
	}
}
.list-table{
	display: table;
	width: 100%;
	li{
		display: table-cell;
		vertical-align: middle;
	}
}
.h100{
	height: 100%;
}

.flex-grid{
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.flex-wrap{
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.flex-nowrap{
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.flex-wrap-reverse{
	-webkit-flex-wrap: wrap-reverse;
	-ms-flex-wrap: wrap-reverse;
	flex-wrap: wrap-reverse;
}

.flex-direction-column{
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.flex-direction-row{
	-webkit-box-orient: vertical;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.justify-content-center{
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.justify-content-flex-start{
	-webkit-justify-content: flex-start;
	-ms-justify-content: flex-start;
	justify-content: flex-start;
}

.justify-content-flex-end{
	-webkit-justify-content: flex-end;
	-ms-justify-content: flex-end;
	justify-content: flex-end;
}

.justify-content-space-around{
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}

.justify-content-space-between{
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}

.align-items-center{
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

.align-items-flex-start{
	-webkit-align-items: flex-start;
	-ms-align-items: flex-start;
	align-items: flex-start;
}

.align-items-flex-end{
	-webkit-align-items: flex-end;
	-ms-align-items: flex-end;
	align-items: flex-end;
}

.align-content-flex-start{
	-webkit-align-content: flex-start;
	-ms-align-content: flex-start;
	align-content: flex-start;
}

.align-content-flex-end{
	-webkit-align-content: flex-end;
	-ms-align-content: flex-end;
	align-content: flex-end;
}

.align-content-center{
	-webkit-align-content: center;
	-ms-align-content: center;
	align-content: center;
}

.align-content-space-around{
	-webkit-align-content: space-around;
	-ms-align-content: space-around;
	align-content: space-around;
}

.align-content-space-between{
	-webkit-align-content: space-between;
	-ms-align-content: space-between;
	align-content: space-between;
}

.align-self-center{
	-webkit-align-self: center;
	-ms-align-self: center;
	align-self: center;
}

.align-self-flex-start{
	-webkit-align-self: flex-start;
	-ms-align-self: flex-start;
	align-self: flex-start;
}

.align-self-flex-end{
	-webkit-align-self: flex-end;
	-ms-align-self: flex-end;
	align-self: flex-end;
}

.uppercase {
	text-transform: uppercase;
}

.overflow {
	overflow: hidden;
}

.cursor{
	cursor: pointer;
}

.transition {
@extend %transition;
}


.bgCover {
	@extend %bgCover;
}

form{
	&.searchform{
		display: block;

		input{
			display: block;
		}
		button{
			display: block;

			&:hover{
				display: block;
			}
		}
	}
}

.content{
	h1,h2,h3,h4,h5,h6,p,li,span,a,div{
		line-height: normal;
		color: $cor_1;
	}
	h1,h2,h3,h4,h5,h6,p,ul{
		margin-bottom: 2rem;
		&:last-child{
			margin-bottom: 0;
		}
	}
	li{
		margin-bottom: 1rem;
		&:last-child{
			margin-bottom: 0;
		}
	}
	h1,h2,h3,h6{
		font-family: $font-medium;
		font-weight: 600;
	}
	h4,h5{
		font-family: $font-theme;
	}
	h1{
		font-size: 3.25rem;
	}
	h2{
		font-size: 2.56rem;
	}
	h3{
		font-size: 24px;
		@include media-max(lg){
			font-size: 20px;
		}
	}
	h4{
		font-size: 1.5rem;
	}
	h5{
		font-size: 1.25rem;
	}
	h6{
		font-size: 1rem;
	}
	p{
		font-size: .85rem;
		line-height: 1.8rem;
	}

	.titulo-icon{
		display: block;

		i{
			margin-bottom: 1rem;
			display: block;
			font-size: 3rem;
			&:before{
				margin: 0;
			}
		}
	}

	ul{
		display: block;

		li{
			position: relative;
			padding-left: 1.2rem;
			font-size: 1rem;
			line-height: 2rem;
			&:before{
				content: '';
				position: absolute;
				left: 0;
				top: 11px;
				@include quadrado( 6px );
				background-color: $cor_2;
			}
		}
	}
	form {
		p{
			margin-bottom: 1rem;
		}
	}
}


h3{
	/*@include media-max(nt){
		font-size: 16px !important;
	}*/
}


.swiper-container{
	width: 100%;
}


.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
	bottom:40px;
}


.hide {
    display: none;
}

.file-class {
    background: white;
	padding: .75em .5em;
	margin: 5% 0 -5% 0;
}


label.input-controller span {
    background: #D60812;
    color: white;
    padding: .25em .5em;
    border-radius: .25em;
}

span#file-name {
    font-size: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.select-items {
    position: absolute;
    background-color: #FEFEFE;
    z-index: 99;
    width: 19.55em;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    overflow-x: hidden;
    max-height: 16.5em;
    height: auto;
}


#reset-button {
    color: white;
    background: #D60812;
    padding: .25em .5em;
    border-radius: .25em;
    font-size: .75em;
	margin: 0 0 0 1em;
	
	@include media-max(lg){
		display: none;
	}
}


.hide-mobile{
	display: flex !important;
	@include media-max(sm){
		display: none !important;
	}
}

.hide-desktop{
	display: none !important;
	@include media-max(sm){
		display: flex !important;
	}
}


/*
#wpadminbar {
    display: none;
}

html {
    margin-top: 0 !important;
}
*/