@import "../helpers/medias";

.section_trust{
    height: 48.5em;
    margin: -5.95em 0;


    @include media-max(sm){
        height: auto;
        margin: 0;
    }

    &.bg_{
        background-repeat: no-repeat;
    }

    .trust_space{
        margin: 5% 0 5% 5%;

        @include media-max(sm){
            margin: 0;
        }
        
        i{
            &.icon{
                width: 7em;
                height: 7em;
                display: block;
                background-repeat: no-repeat;

                @include media-max(lg){
                    background-size:contain;
                }

                @include media-max(sm){
                    width: 4em;
                }
            }
        }

        .trust_certify_pos {
            position: relative;
            width: 25%;
            float: left;
            display: inline-flex;
            margin: 0 0 0 13%;

            @include media-max(lg){
                margin: 0 0 0 13%;
            }

            @include media-max(sm){
                margin: 0;
            }

            &.hide-mobile{
                display: none;
            }

            i{
                margin: 0 5%;

                @include media-max(sm){
                    margin: 0 5% 0 0;
                    border: 0 !important;
                }
            }
        }

        .two_in{
            .trust_controller {
                width: 91%;

                @include media-max(lg){
                    width: 93%;
                }

                @include media-max(sm){
                    width: 100%;
                    float: unset;
                    flex-direction: column;
                }

                float: right;
                margin: 5% 0;
                display: inline-flex;
                justify-content: flex-end;

                .title_trust_call {
                    width: 30em;

                    @include media-max(lg){
                        width: 27em;
                    }

                    @include media-max(sm){
                        width: auto;
                        margin: 5%;
                    }

                    justify-content: flex-start;
                    margin: 0 5% 0 0;

                    h3{
                        color:#676767;
                        font-weight: 800; 
                        font-size: 28px;

                        @include media-max(lg){
                            font-size: 28px;
                        }

                        margin: 0 0 10% 0;
                    }

                    p{
                        color: #676767;
                        margin: 0 0 10% 0;
                        line-height: 2em;
                    }
                }

                div{
                    width: 25%;
                    height: 30em;

                    @include media-max(sm){
                        width: 100%;
                        height: auto;
                    }

                        ul{
                            li{
                                position: relative;
                                z-index: 2;
                                color:white;
                                font-weight: 500;
                                font-size: 22px;

                                @include media-max(lg){
                                    font-size: 15px;
                                }

                                text-align: center;
                            }
                        }

                    i{
                        z-index: 2;
                        border-bottom: 2px solid white;
                        margin: 0 0 5% 0;

                        @include media-max(sm){
                            margin: 0;
                            border: 0;
                        }
    
                        &.icon{
                            background-size: 100% 60%;
                        }
                    }
    
                }

                .bg_{
                    background-repeat: no-repeat;
                    background-size:100% 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: #000000;

                    
                    @include media-max(lg){
                        height: 25em;
                        margin: auto;
                    }

                    @include media-max(nt){
                        height: 20em;
                        margin: auto;
                    }
                }
            }
        }
    }
}