@import "../helpers/medias";

.info_tab{
    background: #D60812;
    width: 100%;
    height: 4em;
    position: fixed;
    z-index: 10;
    @include media-max(sm){
        z-index: 9;
    }
    bottom: 0;
    color: white;
    display: flex;


    @include media-max(lg){
        height: 4em;
    }

    .inline{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        align-content: center;
        width: 100%;

        li{
            a {
                width: 100%;
                display: flex;
                color: unset;
            }
            
            margin: 0 0.5%;
            padding: 0 2.5% 0 1%;
            border-right: 1px solid;
            width: 15vw;
            display: flex;
            align-items: center;

            @include media-max(sm){
                flex-direction: column;
                width: 20vw !important;
            }

            @include media-max(lg){
                padding: 0;
                width: 16vw;
            }

            text-align: center;

            &:last-child{
                border:0;
                padding: 0 0 0 1%;

                i{
                    &.icon{
                    }
                }
            }

            i{
                &.icon{
                    display: block;
                    float: left;
                    width: 2em;
                    height: 2em;
                    margin: 0 .5em 0 0;
                    background-size: 100% 100%;

                    @include media-max(sm){
                        width: 1.5em;
                        height: 2em;
                        position: absolute;
                        margin: -15px 6% !important;
                        margin: 0;
                    }
                }
            }
        }
        .no-inline{
            display: block;
            width: 100%;


            @include media-max(sm){
                top: 1em;
                position: relative;
            }

            li{
                width: 100%;
                border-right: 0;
                span{
                    font-size: 12px;

                    @include media-max(sm){
                        display: none;
                    }
                }
                h4{
                    @include media-max(sm){
                        font-size: 9px;
                    }
                    font-size: 16px;
                    text-transform: uppercase;
                }
            }
        }
    }
}