@import "../helpers/medias";

footer{
    display: inline-flex;
    width: 100%;

    section{
        width: 100%;
        display: flex;

        @include media-max(sm){
            flex-direction: column;
        }
    }

    ._side_logo_social {
        width: 13%;

        @include media-max(lg){
            width: 14%;
            height: 22.1em;
        }

        @include media-max(nt){
            width: 14.5%;
        }

        @include media-max(sm){
            width: 100%;
            height: auto;
            margin: 0 0 4.025em 0;
        }

        height: 100%;
        background: #D60812;
        text-align: center;
        display: inline-flex;
        flex-direction: column;

        ul {
            margin: 14.25% 0;

            @include media-max(sm){
                margin: 2% 0;
                display: inline-flex;
            }

            .logo{
                margin: 10%;

                @include media-max(sm){
                    margin: 0 0 0 10%;
                }

                img{
                    //filter:brightness(100);
                    max-width: 100%;
                    @include media-max(sm){
                        max-width: 150%;
                        width: 145%;
                    }
                }
            }

            &.social_media{
                display: inline-flex;
                justify-content: center;
                margin: auto auto 6% auto;

                li{
                  @include media-max(sm){

                    margin: 0 2%;

                    }
                }

                @include media-max(sm){
                    margin: 0 5% 0 auto;
                }

                i{
                    &.icon {
                        font-size: 2em;
                        color:white;
                    }
                }
            }
        }


    }
    ._form_infos {
        width: 87%;

        @include media-max(sm){
            width: 100%;
            margin: 21.55% 0 0 0;
        }

        height: 100%;
        display: inline-flex;
        flex-direction: column;

        h3{
            color:#676767;
            margin: 5% 0;

            @include media-max(lg){
                margin: 1% 0;
            }
        }

        h4{
            color:#CE1B29;
            margin: 5% 0;
            font-size: 16px;

            @include media-max(lg){
                font-size: 12px;
            }
        }

        p {
            font-size: .7em;

            @include media-max(lg){
                font-size: .65em;
            }
        }

        ._form_footer {
            height: 15vh;

            @include media-max(lg){
                height: unset;
            }

            width: 100%;
            margin: 0 0 -.2em 0;
            display: flex;
            flex-direction: column;
            padding: 2% 5%;

            @include media-max(sm){
                padding: 5%;
            }
            
            background-color: #0000004f;

            &.bg_{
                background-position-x: 100%;
                background-repeat: no-repeat;
                background-size: 100%;

                @include media-max(sm){
                    background-size: cover;
                }
            }
           
            h3 {
                z-index: 2;
                position: relative;
                color: #676767;
                font-size: 22px;

                @include media-max(sm){
                    font-size: 18px;
                    padding: 1% 0;
                }

                margin: 0 0 .5% 0;
            }

            form{
                margin: 0 auto;
                z-index: 2;
                position: relative;

                .ajax-loader{
                    background: transparent;
                    width: 2.5em;
                    background-repeat: no-repeat;
                    height: 2.5em;
                    padding: .5em;
                    top: 0;
                    left: 0;
                    margin: -10% -3.5%;
                    z-index: 9;
                    position: relative;
                    overflow: hidden;
                    background-size: 100%;
                    border-radius: .25em;
        
                    &:before{
                        background-image: url('/wp-content/themes/construcao/config/src/loader.svg');
                        content: '';
                        display: block;
                        width: 100%;
                        z-index: 0;
                        position: relative;
                        height: 100%;
                    }
                }


                .wpcf7-validation-errors{
                    position: absolute;
                    border-color: #D60812;
                    border-radius: .25em;
                    background: #D60812;
                    color: white;
                    margin: -0.25em 0;
                    text-align: center;

                    @include media-max(sm){
                        position: fixed;
                        bottom: 15%;
                        width: 90%;
                        left: 5%;
                    }
                }

                span{

                    @include media-max(sm){
                        font-size: 14px;
                    }

                    &:nth-child(3) {
                        input{
                            width: 15%;

                            @include media-max(sm){
                                width: 100%;
                                margin: .5em 1em .75em 0;
                                padding: .75em .75em;
                            }
                        }
                    }

                    &.wpcf7-not-valid-tip{
                        color: #D60812;
                        position: absolute;
                        z-index: 1;
                        width: auto;
                        top: 6.5%;
                        right: 6%;
                        font-size: 65%;
                        border-radius: .25em;
                        padding: .25em;
                        font-weight: bold;
                        text-align: center;

                        @include media-max(sm){
                            top: unset;
                            font-size: 90%;
                        }
                    }

                }
                input{
                    width: 20%;

                    @include media-max(sm){
                        width: 100%;
                        margin: .5em 1em .75em 0;
                        padding: .75em .75em;
                        font-weight: 600;
                       
                    }

                    &::placeholder{
                        color:#AEAEAE;
                    }

                    margin: .5% 1% .5% 0;
                    padding: .5% 1.5%;

                    &[type=submit]{
                            transition: all .4s;
                            padding: .65em;
                            height: 100%;
                            cursor: pointer;
                            border: 1px solid #CE1B29;
                            background: #D60812;
                            color: white;
                            transition: all .4s;

                            @include media-max(sm){
                                font-size: 17px;
                            }
    
                            &:hover{
                                border: 1px solid #CE1B29;
                                background: transparent;
                                color: #D60812;
                            }
                    }
                }
            }
        }
        ._info_footer {
            height: 85%;

            @include media-max(lg){
                width: 100%;
                background: #E9E9E9;
                padding: 1% 5%;
            }

            width: 100%;
            background: #E9E9E9;
            padding: 2% 5%;
            ._info_controller{

                .copy{
                    p{
                        font-size: 12px;
                    }
                }

                .pages_presentation{
                    width: 40%;
                    display: inline-flex;
                    flex-direction: column;

                    @include media-max(nt){
                        width: 65%;
                    }

                    @include media-max(sm){
                        width: 100%;
                        margin: 10% 0 0 0;
                    }

                    ul{
                        margin: 0 0 5% 0;

                        @include media-max(sm){
                            margin: 0 0 15% 0;
                        }

                        height: 110px;

                        @include media-max(lg){
                            height: 65px;
                        }

                        li{
                            margin: 1%  0;

                            @include media-max(lg){
                                margin: .5%  0;
                            }

                            width: 50%;
                            float: left;
                            a{
                                color:#707070;
                            }
                        }
                    }
                }
                .contact{
                    width: 35%;

                    @include media-max(sm){
                        width: 100%;
                    }

                    display: inline-flex;
                    flex-direction: column;

                    .copy_logo {
                        margin: 0 30% 0 0;
                    }

                    .two_in{
                        width: 100%;

                        p{
                            font-size: 12px;
                        }

                        div{
                            width: 45%;
                            float: left;
                            &.copy{
                                width: 100% !important;
                                margin: 5% 0;

                                p{
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.footer-tabbed ._info_footer {
    height: 77%;
}