%bgCover {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

%transition {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

%inline-block{
    display: inline-block;
    vertical-align: middle;
}

%clearfix {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

%slick-dots{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 5;
    
    li {
        @extend %transition;
        
        display: inline-block;
        vertical-align: middle;

        width: 50px;
        height: 6px;
        background: #dee0e2;

        margin-left: 2px;
        cursor: pointer;

        button {
            font-size: 0;
            &::before{
                content: "";
            }
        }

        &.slick-active,
        &:hover {
            background: #fbc754;
        }
    }
}